<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Phnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="success"><%= customer.name %></td>
        <td><%= customer.age %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phnum %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Order' ,new_path(customer) %></td>
        <td><%= link_to 'Orders', orders_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
